{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sections/documents.css' %}">
{% endblock %}

<section class="section documents" id="documents">
  <div class="container documents__inner">

    <div class="documents__title-bar">
      <h2 class="documents__title-text">ДОКУМЕНТЫ И ДОВЕРИЕ</h2>
    </div>

    <div class="documents__content">
      <ul class="documents__list">
        <li>Сертификаты специалистов</li>
        <li>Документы на собак</li>
        <li>Правила посещения</li>
        <li>Договор/оферта</li>
      </ul>

      <a href="#" class="documents__btn">скачать/<br>посмотреть</a>
    </div>

  </div>
</section>