{% load static %}
<section class="hero">
    <h2 class="header2">
        КАНИСТЕРАПИЯ: ЗАНЯТИЯ С СОБАКОЙ ПОД РУКОВОДСТВОМ СПЕЦИАЛИСТА
    </h2>
    <div class="img_and_text_hero">
        <img src="media/hero/telegram-cloud-photo-size-2-5411361753481808694-y_1.png" alt="">
        <p>
            Канистерапия — это современный и эффективный метод лечения и реабилитации, использующий взаимодействие человека и собаки. В настоящие время растет интерес к немедикаментозным методам коррекции психического и физического состояния человека. Этот метод высоко эффективен и безопасен при работе с детьми с ЗПР, он позволяет существенно улучшить их качество жизни.
        </p>

    </div>
    <div>
        <p>
             · продолжительность: 45-60 минут<br>
             · форматы: индивидуальные и групповые<br>
             · специалисты и собаки с сертификатами
        </p>
    </div>
</section>